{% extends "base/index.html" %}
{% block page-level-sytle %}
    <link rel="stylesheet" type="text/css" href="/static/media/css/select2_metro.css"/>
    <link rel="stylesheet" type="text/css" href="/static/media/css/chosen.css"/>
    <link rel="stylesheet" type="text/css" href="/static/media/css/multi-select-metro.css"/>
{% endblock %}
{% block db_list_memu %}
{% include "base/db_active_memu.html" %}
{% endblock %}
{% block container-fluid %}
    <div class="row-fluid">

        <div class="span12">

            {% include "base/style-custom.html" %}

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">

                数据库详细信息 ({{ db_obj.name }})

            </h3>

            <ul class="breadcrumb">

                <li>

                    <i class="icon-home"></i>

                    <a href="/">Home</a>

                    <i class="icon-angle-right"></i>

                </li>

                <li>
                    <a href="#">数据库管理</a>
                    <i class="icon-angle-right"></i>
                </li>

                <li>
                    <a href="{% url 'db_list' %}">数据库列表</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{% url 'db_detail' obj_id %}">数据库详细信息</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{% url 'db_log_list' obj_id %}">脚本执行日志</a>
                </li>
            </ul>

            <!-- END PAGE TITLE & BREADCRUMB-->

        </div>

    </div>

    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN SAMPLE FORM PORTLET-->

            <div class="portlet box blue tabbable">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="icon-reorder"></i>

                        <span class="hidden-480">数据库详细信息</span>

                    </div>

                </div>

                <div class="portlet-body form">

                    <div class="tabbable portlet-tabs">

                        <ul class="nav nav-tabs">


                            <li class="active"><a href="#portlet_tab1" data-toggle="tab">Default</a></li>

                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="portlet_tab1">

                                <!-- BEGIN FORM-->

                                <form id="execute_sql_form" class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label">数据库名</label>
                                        <div class="controls">
                                            <input type="text" placeholder="small" class="m-wrap small"
                                                   value="{{ db_obj.name }}" readonly>
                                            <input type="hidden" value="{{ db_obj.id }}" name="db_id">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">ip地址</label>
                                        <div class="controls">
                                            <input type="text" placeholder="small" class="m-wrap small"
                                                   value="{{ db_obj.host.value }}" readonly>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">端口</label>
                                        <div class="controls">
                                            <input type="text" placeholder="small" class="m-wrap small"
                                                   value="{{ db_obj.port.value }}" readonly>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">service_name</label>
                                        <div class="controls">
                                            <input type="text" placeholder="small" class="m-wrap small"
                                                   value="{{ db_obj.sid.value }}" readonly>
                                        </div>
                                    </div>


                                    <div class="control-group">
                                        <label class="control-label">用户名</label>
                                        <div class="controls">
                                            <input type="text" placeholder="small" class="m-wrap small"
                                                   value="{{ db_obj.db_user.value }}" readonly>
                                        </div>
                                    </div>

                                    <div class="control-group">

                                        <label class="control-label">svn 路径<span class="required">*</span></label>

                                        <div class="controls select2-wrapper">

                                            <select id="svn_name" class="span6" name="svn_name">
                                                <option value=""></option>

                                                {% for svn_obj in svn_list %}
                                                    <option value="{{ svn_obj.id }}">{{ svn_obj.path }}</option>
                                                {% endfor %}

                                            </select>
                                            <span><button type="button" class="btn blue" onclick="svn_update(this)">svn update</button></span>
                                        </div>

                                    </div>
                                <!--
                                    <div class="control-group">

                                        <label class="control-label">脚本列表</label>

                                        <div class="controls">

                                            <label class="checkbox line">

                                                <input type="checkbox" value=""/> Checkbox 1

                                            </label>

                                            <label class="checkbox line">

                                                <input type="checkbox" value=""/> Checkbox 2

                                            </label>

                                        </div>

                                    </div>
                                    -->

                                    <div class="row-fluid">

                                        <div class="span6 ">

                                            <div class="control-group">
                                                <label class="control-label">sql脚本</label>

                                                <div class="controls">

                                                    <input onkeyup="search_options(this)" type="text" class="m-wrap span12">

                                                    <select style="width: 300px;height: 50px;" id="svn_path_from" class="spanx m-wrap" multiple="multiple"
                                                            data-placeholder="Choose a Category" tabindex="1">
<!--
                                                        <option onclick="go_to_move(this)" value="1">Category 1</option>
                                                        <option onclick="go_to_move(this)" value="2">Category 2</option>
                                                        <option onclick="go_to_move(this)" value="3">Category 5</option>
                                                        <option onclick="go_to_move(this)" value="4">Category 4</option>
                                                        <option onclick="go_to_move(this)" value="3">Category 6</option>
                                                        <option onclick="go_to_move(this)" value="4">Category 7</option>
                                                        <option onclick="go_to_move(this)" value="3">Category 8</option>
                                                        <option onclick="go_to_move(this)" value="4">Category 9</option>
-->
                                                    </select>
                                                    </br>
                                                    <p style="align-content: center">
                                                    <span onclick="go_to_left()" class="btn icn-only blue"><i class="m-icon-swapleft m-icon-white"></i></span>
                                                    <span onclick="go_to_right()" class="btn icn-only blue"><i class="m-icon-swapright m-icon-white"></i></span>
                                                    </p>

                                                </div>


                                            </div>

                                        </div>

                                        <!--/span-->

                                        <div class="span6 ">

                                            <div class="control-group">


                                                <div class="controls">

                                                    <select id="svn_path_to" name="sql_file_list" class="span6 m-wrap"  style="width: 300px;height: 50px;" multiple="multiple"
                                                            data-placeholder="Choose a Category" tabindex="1">
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                        <!--/span-->

                                    </div>

                                    <div class="form-actions">

                                        <button onclick="execute_sql()" type="button" class="btn blue">Execute</button>

                                        <button type="button" class="btn">Cancel</button>

                                    </div>

                                </form>

                                <!-- END FORM-->

                            </div>


                        </div>

                    </div>

                </div>

            </div>

            <!-- END SAMPLE FORM PORTLET-->

        </div>

    </div>
{#    <div class="row-fluid">#}
{#        <div class="alert alert-success">#}
{#            <button class="close" data-dismiss="alert"></button>#}
{#            <strong>Success!</strong> The page has been added.#}
{#        </div>#}
{#        <div>#}
{#            <pre>defgsedfsdfsdfsdfsdfsfsdfsfdsf</pre>#}
{#        </div>#}
{#    </div>#}

{#<div class="cover"></div>#}
<div id="long" class="modal hide fade" tabindex="-1" data-replace="true" style="width: 60%;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 id="result-header">

        </h3>
	</div>
	<div class="modal-body">
		<pre id="result"></pre>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">Close</button>
	</div>
</div>






<a id="trigger_button" class=" btn blue btn-large hidden" data-toggle="modal" href="#long">View Demo</a>
{% endblock %}

{% block page-level-plugin %}
    <script type="text/javascript" src="/static/media/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/media/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="/static/media/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/media/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/media/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="/static/media/js/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/static/media/js/bootstrap-datetimepicker.js"></script>
{% endblock %}


{% block page-level-scripts %}
    <script src="/static/media/js/app.js"></script>
    <script src="/static/media/js/form-components.js"></script>
    <script>


        jQuery(document).ready(function () {

            // initiate layout and plugins

            App.init();

            $('#svn_name').select2({
                placeholder: "Select an Option",
                allowClear: true
            });
        });

        function svn_update(obj) {
            var svn_obj_id = $('#svn_name').val();
            $("#svn_path_to").empty();
            if (svn_obj_id == null || svn_obj_id == "") {
                alert("必须选择一个svn路径");
            } else {
{#                $.post("{% url 'svn_update' %}", {svn_id: svn_obj_id}, function (result) {#}
{#                    var ret = JSON.parse(result);#}
{#                        console.log(ret);#}
{#                    if (ret["status"] == true) {#}
{##}
{#                        $.each( ret["data"], function(i, n){#}
{#                            var option_str = '<option onclick="go_to_move(this)" value="'+n+'">'+n+'</option>'#}
{#                            $("#svn_path_from").append(option_str);#}
{#                        });#}
{#                    } else {#}
{#                        alert(ret["msg"])#}
{#                    }#}
{#                });#}
                $(obj).prop("disabled",true);
                $.ajax({
                    type: "POST",
                    url:"{% url 'svn_update' %}",
                    data:{svn_id: svn_obj_id},// 你的formid
                    error: function(request) {
{#                        $("#cover").addClass("hidden");#}
                        alert("Connection error");
                        $(obj).prop("disabled",false);

                    },
                    success: function(data) {

                        var ret = JSON.parse(data);
                            console.log(ret);
                        if (ret["status"] == true) {
                            $("#svn_path_from").empty();
                            $.each( ret["data"], function(i, n){
                                var option_str = '<option onclick="go_to_move(this)" value="'+n+'">'+n+'</option>'
                                $("#svn_path_from").append(option_str);
                            });
                            $(obj).prop("disabled",false);
                        } else {
                            alert(ret["msg"]);
                            $(obj).prop("disabled",false);

                        };
                    }
                });
            }
            ;


        };

        function  search_options(obj) {
            var search_val = $(obj).val();
            var opts = $("#svn_path_from").children();
            $.each( opts, function(i, n){
                 var content = $(n).text();
                 var index = content.indexOf(search_val);
                 if (index != -1 ) {
                     $(n).removeClass("hidden");
                 } else {
                     $(n).addClass("hidden");
                 };

            });
        };

        function  go_to_move(obj) {
            var id_name = $(obj).parent().attr("id");

            if (id_name == "svn_path_from") {
                $(obj).clone().prependTo("#svn_path_to");
            } else {
                $(obj).clone().prependTo("#svn_path_from");
            };

            $(obj).remove();
        };

        function  go_to_right() {
            var opts = $("#svn_path_from").children();
            $.each( opts, function(i, n){
                var status = $(n).hasClass("hiden");
                if (status == false) {
                    go_to_move(n);
                };
            });
        };

        function  go_to_left() {
            var opts = $("#svn_path_to").children();
            $.each( opts, function(i, n){
                    go_to_move(n);
            });

        };

        function execute_sql() {
            var opts = $("#svn_path_to").children();
            $.each( opts, function(i, n){
                    $(n).prop("selected",true);
            });

            $("#cover-level").removeClass("hidden");
            $.ajax({
                cache: true,
                type: "POST",
                url:"{% url 'execute_sql' %}",
                data:$('#execute_sql_form').serialize(),// 你的formid
                error: function(request) {
                    $("#cover").addClass("hidden");
                    alert("Connection error");
                },
                success: function(data) {

                    var ret = JSON.parse(data);
                    console.log(ret);
                    var header_content = '';
                    if (ret["status"] == true) {
                        header_content ='<div class="alert alert-success"><strong>Success!</strong></div>'
                    } else  {
                        header_content ='<div class="alert alert-error"><strong>Failed!</strong></div>'

                    };
                    $("#result-header").html(header_content);
                    $("#result").text(ret["msg"]);
                    $("#trigger_button").click();
                    $("#cover-level").addClass("hidden");
                }
            });
        };
    </script>
{% endblock %}