    <link rel="stylesheet" type="text/css" href="/static/media/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/media/css/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/media/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/media/css/bootstrap-toggle-buttons.css" />
    <link rel="stylesheet" type="text/css" href="/static/media/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/media/css/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/media/css/select2_metro.css" />
    <link rel="stylesheet" href="/static/media/css/DT_bootstrap.css" />